.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffcccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.calculator input[type="text"] {
    grid-column: 1 / span 4;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background-color: #ff9999;
    color: #333;
    text-align: right;
}

.calculator button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffcccc;
    color: #555;
}

.calculator button:hover {
    background-color: #ffb3b3;
}

.calculator button.operator {
    background-color: #ff6666;
    color: #fff;
}

.calculator button.clear {
    background-color: #ff6666;
    color: #fff;
}

.calculator button.equal {
    background-color: #ff6666;
    color: #fff;
}
